* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f5f2;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    position: relative;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li a {
    font-weight: 500;
    color: #333;
}
.cartnumber {
    position: absolute;
    z-index: 1;
    right: 1px;
    bottom: 20px;
    background-color: #726a71;
    color: #fff;
    width: 20px;
    text-align: center;
    border: #555 1 px solid;
    border-radius: 40%;
    opacity: 0.8;
}

  
  .container {
    background: #d6d6d6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    margin-left: 500px;
    margin-top: 80px;
  }
  
  .form {
    display: none;
  }
  
  .form.active {
    display: block;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background: #404244;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #afb3b8;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
  }
  
  p span {
    color: #606366;
    cursor: pointer;
  }
  
  p span:hover {
    text-decoration: underline;
  }
  

